<div class="overview-container">
    <h2>Tổng Quan</h2>

    <div class="overview-card" (click)="showManagementProducts()">
        <i class="material-icons" aria-hidden="true">inventory</i>
        <h3>Tổng Sản Phẩm</h3>
        <p>{{ tongSanPham }}</p>
    </div>

    <div class="overview-card" (click)="showManagementUsers()">
        <i class="material-icons" aria-hidden="true">people</i>
        <h3>Tổng Thành Viên</h3>
        <p>{{ tongThanhVien }} </p>
    </div>

    <div class="overview-card" (click)="showSalesStatistics()">
        <i class="material-icons" aria-hidden="true">shopping_cart</i>
        <h3>Tổng Đơn Hàng</h3>
        <p>{{ tongDonHang }}</p>
    </div>


    <!-- Thêm phần Tổng Lợi Nhuận -->
    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">account_balance_wallet</i>
        <h3>Tổng Lợi Nhuận</h3>
        <p>{{ tongLoiNhuan | currency:'VND' }}</p>
    </div>

    <h2>Thống Kê Đơn Hàng</h2>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">shopping_cart</i>
        <h3>Đơn Hàng Hôm Nay</h3>
        <p>{{ donHangHomNay }}</p>
    </div>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">shopping_cart</i>
        <h3>Đơn Hàng Trong Tuần</h3>
        <p>{{ donHangTuan }}</p>
    </div>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">shopping_cart</i>
        <h3>Đơn Hàng Trong Tháng</h3>
        <p>{{ donHangThang }}</p>
    </div>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">monetization_on</i>
        <h3>Doanh Thu Hôm Nay</h3>
        <p>{{ doanhThuHomNay | currency:'VND' }}</p>
    </div>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">monetization_on</i>
        <h3>Doanh Thu Tuần</h3>
        <p>{{ doanhThuTuan | currency:'VND' }}</p>
    </div>

    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">monetization_on</i>
        <h3>Doanh Thu Tháng</h3>
        <p>{{ doanhThuThang | currency:'VND' }}</p>
    </div>


</div>

<div class="content">
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
</div>