<div class="overview-container">
    <h2>Tổng Quan</h2>

    <div class="overview-card" (click)="showManagementProducts()">
        <i class="material-icons" aria-hidden="true">inventory</i>
        <h3>Tổng Sản Phẩm</h3>
        <p>{{ tongSanPham }}</p>
    </div>

    <div class="overview-card" (click)="showManagementUsers()">
        <i class="material-icons" aria-hidden="true">people</i>
        <h3>Tổng Thành Viên</h3>
        <p>{{ tongThanhVien }} </p>
    </div>

    <div class="overview-card" (click)="showSalesStatistics()">
        <i class="material-icons" aria-hidden="true">shopping_cart</i>
        <h3>Tổng Đơn Hàng</h3>
        <p>{{ tongDonHang }}</p>
    </div>
    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">account_balance_wallet</i>
        <h3>Tổng Doanh Thu</h3>
        <p>{{ tongDoanhThu | currency:'VND' }}</p>
    </div>


    <!-- Thêm phần Tổng Lợi Nhuận -->
    <div class="overview-card">
        <i class="material-icons" aria-hidden="true">account_balance_wallet</i>
        <h3>Tổng Lợi Nhuận</h3>
        <p>{{ tongLoiNhuan | currency:'VND' }}</p>
    </div>

    <h2>Thống Kê Đơn Hàng Năm 2024</h2>

    <div class="chart-container">
        <canvas id="donHangChart"></canvas>
    </div>



</div>

<div class="content">
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
</div>
