<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="ten_san_pham">Tên sản phẩm:</label>
        <input id="ten_san_pham" formControlName="ten_san_pham" required>
    </div>
    <div>
        <label for="mo_ta">Mô tả:</label>
        <textarea id="mo_ta" formControlName="mo_ta" required></textarea>
    </div>
    <div>
        <label for="gioi_tinh_id">Giới tính:</label>
        <select id="gioi_tinh_id" formControlName="gioi_tinh_id" required>
          <option value="1">Nam</option>
          <option value="2">Nữ</option>
      </select>
    </div>
    <div>
        <label for="id_loai_san_pham">Loại sản phẩm:</label>
        <select id="id_loai_san_pham" formControlName="id_loai_san_pham" required>
          <option *ngFor="let loai of loaiSanPham" [value]="loai.id">{{ loai.ten_loai }}</option>
      </select>
    </div>
    <div>
        <label for="id_nhan_hieu">Nhà sản xuất:</label>
        <select id="id_nhan_hieu" formControlName="id_nhan_hieu" required>
          <option *ngFor="let nhanHieu of nhanHieuList" [value]="nhanHieu.id">{{ nhanHieu.ten_nhan_hieu }}</option>
      </select>
    </div>
    <div>
        <label for="id_nha_cung_cap">Nhà cung cấp:</label>
        <select id="id_nha_cung_cap" formControlName="id_nha_cung_cap" required>
          <option *ngFor="let nhaCungCap of nhaCungCapList" [value]="nhaCungCap.id">{{ nhaCungCap.ten_nha_cung_cap }}</option>
      </select>
    </div>
    <div>
        <label for="gia_nhap">Giá nhập:</label>
        <input id="gia_nhap" type="number" formControlName="gia_nhap" required min="0">
    </div>
    <div>
        <label for="gia_ban">Giá bán:</label>
        <input id="gia_ban" type="number" formControlName="gia_ban" required min="0">
    </div>
    <div>
        <label for="anh_san_pham">Hình ảnh sản phẩm:</label>
        <input type="file" (change)="onFileSelected($event)" required>
    </div>
    <button type="submit" [disabled]="productForm.invalid">Thêm sản phẩm</button>
</form>
