<div class="overlay" *ngIf="isModalOpen">

    <!-- Nút đóng modal -->

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
        <button type="button" class="close-button" (click)="closeModal()">×</button>

        <div class="form-group">
            <label for="ten_san_pham">Tên sản phẩm:</label>
            <input id="ten_san_pham" formControlName="ten_san_pham" required>
        </div>
        <div class="form-group">
            <label for="mo_ta">Mô tả:</label>
            <textarea id="mo_ta" formControlName="mo_ta" required></textarea>
        </div>
        <div class="form-group">
            <label for="ten_gioi_tinh">Giới tính:</label>
            <select id="ten_gioi_tinh" formControlName="ten_gioi_tinh" (change)="onGenderChange()" required>
                  <option value="1">Nam</option>
                  <option value="2">Nữ</option>
              </select>
        </div>
        <div class="form-group">
            <label for="ten_danh_muc">Danh mục sản phẩm:</label>
            <select id="ten_danh_muc" formControlName="ten_danh_muc" required>
                  <option *ngFor="let loai of filteredCategories" [value]="loai">{{ loai }}</option>
              </select>
        </div>
        <div class="form-group">
            <label for="ten_nhan_hieu">Nhà sản xuất:</label>
            <input type="text" id="ten_nhan_hieu" formControlName="ten_nhan_hieu" required [placeholder]="'Nhà sản xuất'" />
        </div>
        <div class="form-group">
            <label for="ten_nha_cung_cap">Nhà cung cấp:</label>
            <input type="text" id="ten_nha_cung_cap" formControlName="ten_nha_cung_cap" required [placeholder]="'Nhà cung cấp'" />
        </div>
        <div class="form-group">
            <label for="gia_nhap">Giá nhập:</label>
            <input id="gia_nhap" type="number" formControlName="gia_nhap" required min="0">
        </div>
        <div class="form-group">
            <label for="gia_ban">Giá bán:</label>
            <input id="gia_ban" type="number" formControlName="gia_ban" required min="0">
        </div>
        <div class="form-group">
            <label for="anh_san_pham">Hình ảnh sản phẩm:</label>
            <input type="file" (change)="onFileSelected($event)" required>
        </div>
        <button type="submit" class="submit-button">Thêm sản phẩm</button>
    </form>
</div>