.user-table {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* hoặc giá trị mong muốn */
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 9999;
    /* Đảm bảo đây là z-index lớn nhất */
}

.user-table h2 {
    text-align: center;
}

.user-table form {
    display: flex;
    flex-direction: column;
}

.user-table label {
    margin-top: 10px;
    font-weight: bold;
}

.user-table input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    width: 48%;
    /* Để hai nút cân đối trong màn hình */
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.button-group button:hover {
    background-color: #0056b3;
}
