<div class="sidebar">
    <div class="scrollable">
        <h2>Quản Trị</h2>

        <!-- Thêm lớp scrollable -->
        <ul>
            <li><a routerLink="/dashboard">Trang Chủ</a></li>
            <li>
                <a (click)="toggleStatisticsDropdown()">Thống Kê <span class="arrow" [class.active]="showStatisticsDropdown">&#9660;</span></a>
                <ul class="" *ngIf="showStatisticsDropdown">
                    <li><a routerLink="/statistics/overview">Tổng Quan</a></li>
                    <li><a routerLink="/statistics/sales">Bán Hàng</a></li>
                    <li><a routerLink="/statistics/purchases">Nhập Hàng</a></li>
                </ul>
            </li>
            <li>
                <a (click)="toggleManagementDropdown()">Quản Lý <span class="arrow" [class.active]="showManagementDropdown">&#9660;</span></a>
                <ul class="" *ngIf="showManagementDropdown">
                    <li><a (click)="showManagementProducts()">Sản Phẩm</a></li>
                    <li><a routerLink="/management/categories">Loại</a></li>
                    <li><a routerLink="/management/suppliers">Nhà Cung Cấp</a></li>
                    <li><a routerLink="/management/brands">Nhãn Hiệu</a></li>
                    <li><a routerLink="/management/sizes">Kích Thước</a></li>
                    <li><a routerLink="/management/colors">Màu Sắc</a></li>
                    <li><a routerLink="/management/variants">Sản Phẩm Biến Thể</a></li>
                    <!-- <li><a routerLink="/admin/management-users">Người Dùng</a></li> -->
                    <li><a (click)="showManagementUsers()">Người Dùng</a></li>
                    <li><a routerLink="/management/coupons">Mã Giảm Giá</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
</div>