<div class="statistics-container">
    <h2>Chi Tiết Đơn Hàng</h2>

    <div class="filters">
        <input type="text" placeholder="Tìm kiếm theo tên khách hàng" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()">

        <select [(ngModel)]="selectedStatus" (change)="onStatusChange()">
      <!-- <option value="">Trạng thái</option> -->
      <option *ngFor="let status of statuses" [value]="status">{{ statusDisplayNames[status]  }}</option>
    </select>

        <input type="date" [(ngModel)]="startDate" (change)="onDateChange()">
        <input type="date" [(ngModel)]="endDate" (change)="onDateChange()">
    </div>

    <div class="overview-cards">
        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Số Đơn Hàng:</h3>
            <p>{{ tongSoDonHang }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Chờ xử lý:</h3>
            <p>{{ soDonChoXuLy }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Đã xác nhận:</h3>
            <p>{{ soDonDaXacNhan }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Đang vận chuyển:</h3>
            <p>{{ soDonDangGiao }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Đã giao thành công:</h3>
            <p>{{ soDonDaGiao }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <h3>Đã hủy:</h3>
            <p>{{ soDonDaHuy }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">account_balance_wallet</i>
            <h3>Tổng Doanh Thu</h3>
            <p>{{ tongDoanhThu | currency:'VND' }}</p>
        </div>

        <div class="overview-card">
            <i class="material-icons" aria-hidden="true">account_balance_wallet</i>
            <h3>Tổng Lợi Nhuận</h3>
            <p>{{ tongLoiNhuan | currency:'VND' }}</p>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã Đơn Hàng</th>
                <th>Tên Khách Hàng</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Trạng Thái</th>
                <th>Ngày Mua</th>
                <!-- <th>Tổng Tiền (VND)</th> -->
                <th>Xem Chi Tiết</th>
                <!-- Cột mới -->
                <th>Cập Nhật Trạng Thái</th>
                <!-- Cột mới -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of filteredOrders; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ order.id_don_hang }}</td>
                <td>{{ order.ho_va_ten }}</td>
                <td>{{ order.dia_chi }}</td>
                <td>{{ order.so_dien_thoai }}</td>
                <td>{{ statusDisplayNames[order.trang_thai] }}</td>
                <td>{{ order.ngay_mua | date: 'dd/MM/yyyy' }}</td>
                <!-- <td>{{ order.tong_tien | currency:'VND' }}</td> -->
                <td>
                    <button (click)="viewOrderDetails(order)">Xem</button>
                    <!-- Nút xem chi tiết -->
                </td>
                <td style="min-width: 150px;">
                    <ng-container *ngIf="order.trang_thai !== 'da_huy' && order.trang_thai !== 'da_giao'">
                        <select [(ngModel)]="order.trang_thai" (change)="updateOrderStatus(order)">
                          <option *ngIf="order.trang_thai === 'cho_xu_ly'" value="cho_xu_ly">{{ changeStatus['cho_xu_ly'] }}</option>
                          <option *ngIf="order.trang_thai === 'cho_xu_ly'" value="da_xac_nhan">{{ changeStatus['da_xac_nhan'] }}</option>

                          <option *ngIf="order.trang_thai === 'da_xac_nhan'" value="da_xac_nhan">{{ changeStatus['da_xac_nhan'] }}</option>
                          <option *ngIf="order.trang_thai === 'da_xac_nhan'" value="dang_giao">{{ changeStatus['dang_giao'] }}</option>

                          <option *ngIf="order.trang_thai === 'dang_giao'" value="dang_giao">{{ changeStatus['dang_giao'] }}</option>
                          <option *ngIf="order.trang_thai === 'dang_giao'" value="da_giao">{{ changeStatus['da_giao'] }}</option>
                          <option *ngIf="order.trang_thai === 'dang_giao'" value="da_huy">{{ changeStatus['da_huy'] }}</option>
                      </select>
                    </ng-container>

                    <ng-container *ngIf="order.trang_thai === 'da_huy' || order.trang_thai === 'da_giao'">
                        <span>{{ changeStatus[order.trang_thai] }}</span>
                    </ng-container>
                </td>




            </tr>
            <tr *ngIf="filteredOrders.length === 0">
                <td colspan="10">Không có đơn hàng nào phù hợp</td>
            </tr>
        </tbody>
    </table>

    <!-- Modal hiển thị chi tiết đơn hàng -->
    <div *ngIf="isOrderDetailModalOpen" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeOrderDetailModal()">&times;</span>
            <h4 style="text-align: center;">Chi Tiết Người Nhận</h4>

            <!-- Bảng thông tin người đặt hàng -->
            <table>
                <thead>
                    <tr>
                        <th>Tên Thông Tin</th>
                        <th>Giá Trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mã Đơn Hàng</td>
                        <td>{{ selectedOrder.id_don_hang }}</td>
                    </tr>
                    <tr>
                        <td>Tên Khách Hàng</td>
                        <td>{{ selectedOrder.ho_va_ten }}</td>
                    </tr>
                    <tr>
                        <td>Địa Chỉ</td>
                        <td>{{ selectedOrder.dia_chi }}</td>
                    </tr>
                    <tr>
                        <td>Số Điện Thoại</td>
                        <td>{{ selectedOrder.so_dien_thoai }}</td>
                    </tr>
                    <tr>
                        <td>Ngày Mua</td>
                        <td>{{ selectedOrder.ngay_mua | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                        <td>Trạng Thái</td>
                        <td>{{ statusDisplayNames[selectedOrder.trang_thai] }}</td>
                    </tr>
                    <!-- Thêm thông tin khác nếu cần -->
                </tbody>
            </table>

            <!-- Bảng thông tin sản phẩm đã đặt -->
            <h4 style="text-align: center; margin-top: 20px;">Thông Tin Sản Phẩm</h4>
            <table>
                <thead>
                    <tr>
                        <th>Tên Sản Phẩm</th>
                        <th>Ảnh Sản Phẩm</th>
                        <th>Màu Sắc</th>
                        <th>Kích Thước</th>
                        <th>Số Lượng</th>
                        <th>Tổng Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of showOrder">
                        <td>{{ product.ten_san_pham }}</td>
                        <td>
                            <img [src]="product.anh_san_pham || 'default-image-url.jpg'" alt="{{ product.ten_san_pham }}" class="product-image" style="width: 100px; height: 100px;" />
                        </td>
                        <td>{{ product.mau_sac }}</td>
                        <td>{{ product.kich_thuoc }}</td>
                        <td>{{ product.so_luong }}</td>
                        <td>{{ product.tong_tien | currency:'VND' }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: right;"><strong>Tổng Tiền:</strong></td>
                        <td><strong>{{ getTotalAmount() | currency:'VND' }}</strong></td>
                    </tr>
                </tfoot>
            </table>

            <div *ngIf="selectedOrder.trang_thai === 'cho_xu_ly'" style="text-align: center; margin-top: 20px;">
                <button (click)="printOrder()">In Đơn Hàng</button>
            </div>
        </div>
    </div>



</div>
