<!-- admin-login.component.html -->
<div class="login-background">
    <div class="login-container">
        <h2>Đăng Nhập Hệ Thống Quản Trị Viên</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="ten_dang_nhap">Tên Đăng Nhập:</label>
                <input type="text" id="ten_dang_nhap" [(ngModel)]="ten_dang_nhap" name="ten_dang_nhap" required />

            </div>
            <div class="form-group">
                <label for="password">Mật Khẩu:</label>
                <input type="password" id="mat_khau" [(ngModel)]="mat_khau" name="mat_khau" required />
            </div>
            <button type="submit">Đăng Nhập</button>
        </form>
    </div>
</div>